.add_folder{
    position:absolute;
    top:12px;
    left:20%;
    background-color: inherit;

}
.far{
    font-size: 20px;
    background-color: inherit;
}
.add-button{
    background-color: inherit;
border:none;
display:block;
position:relative;
left:15px;
top:4px;
}
.add-button:focus{
    outline:none;
}

#inputWrapper{
    position: relative;
    width:100px;
    left:-135%;
    z-index:2;
}
#folderInput{
    display:block;
    width:180px;
    background-color:#dbd7d8;

    
}
#folderInput:focus{
    outline-color:#570516;
}
.fa-plus-square{
    font-size: 10px;
}