.menu-blue{
    color:#41addd !important;
}
.menu-gray{
    color: gray;
}
.MuiButton-root {
    margin-left: 5% !important;
}

.MuiButton-containedSecondary{
 background-color: #41addd !important;
 margin-left: 12% !important;
}
.MuiListItem-secondaryAction{
    background-color: rgb(97, 90, 90);
}
.MuiList-padding{
    width: max-content;
    padding-top: 8px;
    padding-bottom: 0;
    padding-right: 40px !important;
}
.MuiIconButton-root{
    padding: 0 !important;
}
.MuiListItem-root{
    background-color: whitesmoke;
}
.MuiFab-root {
    color: #fafafa !important;
    width: 34px !important;
    height: 34px !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #41addd !important;
}

ul{
    position: relative;
    left: 20px;
}
