.menu-blue{
    color:#41addd !important;
}

.MuiListItem-secondaryAction{
    background-color: whitesmoke;
}
.MuiList-padding{
    width: max-content;
    padding-top: 8px;
    padding-bottom: 0;
}
.MuiIconButton-root{
    padding: 0 !important;
}
.MuiListItem-root{
    background-color: whitesmoke;
}
.MuiFab-root {
    color: #fafafa !important;
    width: 34px !important;
    height: 34px !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #41addd !important;
}

ul{
    left: 0;
}
